{% extends 'base_template.html' %}
{% block main %}
                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <h1 class="h3 mb-2 text-gray-800">Mediciones</h1>
                    <p class="mb-4">Todas las mediciones hechas hasta la fecha.</p>

                    <!-- DataTales Example -->
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">Mediciones</h6>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>Sensor</th>
                                            <th>Locación</th>
                                            <th>TVOC</th>
                                            <th>eCO2</th>
                                            <th>RawH2</th>
                                            <th>Fecha</th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <th>ID</th>
                                            <th>Sensor</th>
                                            <th>Locación</th>
                                            <th>TVOC</th>
                                            <th>eCO2</th>
                                            <th>RawH2</th>
                                            <th>Fecha</th>
                                        </tr>
                                    </tfoot>
                                    <tbody>
                                        {%for dato in datos%}
                                        <tr>
                                            <td>{{dato.ID}}</td>
                                            <td>{{dato.Sensor}}</td>
                                            <td>{{dato.Locacion}}</td>
                                            <td>{{dato.TVOC}}</td>
                                            <td>{{dato.eCO2}}</td>
                                            <td>{{dato.RawH2}}</td>
                                            <td>{{dato.Fecha}}</td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
{% endblock %}