{% extends 'base_template.html' %}
{% block main %}
<div class="container-fluid">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Token</h1>
    </div>

    <div class="row">

        <div class="col-lg-6">

            <!-- Default Card Example -->
            <div class="card mb-4">
                <div class="card-header">
                    Token para API
                </div>
                <div class="card-body">
                    <br>
                    Token: <kbd>{{token}}</kbd>
                    <br>
                <form action="{{ url_for('api_token') }}" method="post">
                    <br>
                    <input type="submit" value="Generar nuevo token">         
                </form>
                </div>
            </div>

        </div>


    </div>

</div>
{% endblock %}