{% extends 'base_template.html' %}
{% block main %}
<script src="vendor/jquery/jquery.js"></script>
<div class="container-fluid">
    <!-- Content Row -->
    <div class="row">
        <div class="preview" >
            <div class="streaming">
                <img src="/v1/streaming" id="img-classify">
                <div class="streaming-overlay">
                    <br>
                    Clasificación: <kbd id="classify"></kbd>
                    <br>
                    Exactitud: <kbd id="exactitud"></kbd>
                    <br>
                    <fieldset>
                        <button id="upload-file-btn" type="button">Clasificar</button>
                    </fieldset>
                <div>
            </div>
        </div>
    </div>
</div>
<style>
    .streaming{
        position: relative;
        display: inline-block;
    }
    .streaming img{
        display: block;
    }
    .streaming-overlay{
        color: white;
        font-size: 20px;
        position: absolute;
        top: 5%;
        left: 5%;
        transform: translate( -5%, -5% );
    }
</style>

<script>
    $(function() {
        $('#upload-file-btn').click(function() {
            var form_data = new FormData($('#upload-file')[0]);
            $.ajax({
                type: 'POST',
                url: '/v1/classify',
                data: form_data,
                contentType: false,
                cache: false,
                processData: false,
                success: function(data) {
                    console.log(data)
                    document.getElementById("classify").innerHTML = data.status_pieza;
                    document.getElementById("exactitud").innerHTML = data.accuracy;
                },
            });
        });
    });
</script>
{% endblock %}
