{% extends 'base_template.html' %}
{% block main %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Inicio</h1>
    <p class="mb-4"></p>
    <!-- Content Row -->
    <div class="row">

        <div class="col-lg-6">

            <!-- Default Card Example -->
            <div class="card mb-4">
                <div class="card-header">
                    Clasificación
                </div>
                <div class="card-body">
                    <div class="preview" >
                        <img src="/v1/streaming" id="img-classify" width="200" height="200">
                        <br>
                        Clasificación: <kbd id="classify"></kbd>
                        <br>
                        Exactitud: <kbd id="exactitud"></kbd>
                        <br>
                    </div>
                    <br>
                    <form id="upload-file" method="post" enctype="multipart/form-data">
                        <fieldset>
                            <button id="upload-file-btn" type="button">Clasificar</button>
                        </fieldset>
                    </form>
                
                </div>
            </div>


        </div>


    </div>

</div>

<script>
    $(function() {
        $('#upload-file-btn').click(function() {
            var form_data = new FormData($('#upload-file')[0]);
            $.ajax({
                type: 'POST',
                url: '/v1/classify',
                data: form_data,
                contentType: false,
                cache: false,
                processData: false,
                success: function(data) {
                    console.log(data)
                    document.getElementById("classify").innerHTML = data.status_pieza;
                    document.getElementById("exactitud").innerHTML = data.accuracy;
                },
            });
        });
    });
</script>
{% endblock %}
