{% extends 'base_template.html' %}
{% block main %}
                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <h1 class="h3 mb-2 text-gray-800">Sensores</h1>
                    <p class="mb-4">Aqui se obtiene toda la información de los sensores tambien se pueden modificar la información y añadir nuevos.</p>

                    <!-- DataTales Example -->
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">Sensores</h6>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>Nombre</th>
                                            <th>Locación</th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <th>ID</th>
                                            <th>Nombre</th>
                                            <th>Locación</th>
                                        </tr>
                                    </tfoot>
                                    <tbody>
                                        {%for sensor in sensores%}
                                        <tr>
                                            <td>{{sensor.ID}}</td>
                                            <td>{{sensor.Nombre}}</td>
                                            <td>{{sensor.Locacion}}</td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="card mb-4">
                        <div class="card-header">
                            Editar Sensor:
                        </div>
                        <div class="card-body">
                        <form action="{{ url_for('sensors') }}" method="post">
                        <input type="hidden" name="form-name" value="edit_sensor">
                        {{ form_edit.hidden_tag() }}
                        <div class="field-wrap">
                            <label for="sensors">ID a modificar:</label>
                            <select id="sensor-id" name="sensor-id">
                            {%for sensor in sensores%}
                            <option value="{{sensor.ID}}">{{sensor.ID}}</option>
                            {%endfor%}
                            </select>
                        </div>
                        <div class="field-wrap">
                            {{ form_edit.name.label }}
                            {{ form_edit.name }}<br>
                            {% for error in form_edit.name.errors %}
                            <span style="color: red;">{{ error }}</span>
                            {% endfor %}
                        </div>
                        <div class="field-wrap">
                            <label for="sensors">Nueva locación:</label>
                            <select id="loc-id-edit" name="loc-id-edit">
                            {%for locacion in locaciones%}
                            <option value="{{locacion.ID}}">{{locacion.Nombre}}</option>
                            {%endfor%}
                            </select>
                        </div>
                        {{form_edit.submit}}
                        </form>
                        </div>
                    </div>
                    <div class="card mb-4">
                        <div class="card-header">
                            Añadir Sensor:
                        </div>
                        <div class="card-body">
                        <form action="{{ url_for('sensors') }}" method="post">
                        <input type="hidden" name="form-name" value="add_sensor">
                        {{ form_add.hidden_tag() }}
                        <div class="field-wrap">
                            {{ form_add.name.label }}
                            {{ form_add.name }}<br>
                            {% for error in form_add.name.errors %}
                            <span style="color: red;">{{ error }}</span>
                            {% endfor %}
                        </div>
                        <div class="field-wrap">
                            <label for="locations">Locación:</label>
                            <select id="loc-id-edit" name="loc-id-add">
                            {%for locacion in locaciones%}
                            <option value="{{locacion.ID}}">{{locacion.Nombre}}</option>
                            {%endfor%}
                            </select>
                        </div>
                        {{ form_add.submit }} 
                        </form>
                        </div>
                    </div>
                </div>
                <!-- /.container-fluid -->

{% endblock %}